.mail-preview {
    display: flex;
    justify-content: start;
    align-items: center;

}


.mail-preview>*:not(:first-child) {
    flex: 1;
}

.mail-preview .btn-remove {
    text-align: end;
}

.mail-preview .btn-remove:hover {
    background-color: var(--bg4);
}