.mail-filter.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.mail-filter .search-bar {
    background-color: var(--bg4);
    border-radius: 2em;
    padding: 1em 1.2em;
    border: 0px;
    width: 200px;
    transition: 0.4s;
}

.mail-filter .search-bar:focus-visible {
    background-color: var(--bg0);
    outline: 0px;
    width: 250px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.mail-filter .is-read {
    width: 85px;
    border-radius: 2em;
    background-color: var(--bg0);
    padding: 0.7em;
}