 /* mail index  */

 .mails-container {
     border-radius: 2em;
     margin: 1em;
     background-color: white;
 }

 .mail-index.inner-container .mail-folders {
     padding: 3em 2em 0 0;
 }

 .btn-compose {
     margin-top: 1em;
     margin-left: 0.5em;
     padding: 1em;
     border-radius: 0.5em;
     background-color: var(--bg02);
     width: 145px;
 }

 .aside-bar {
     width: 250px;
     margin-top: 50px;
     margin-right: 1em;
 }

 .sorting-container {
     margin: 1em;
     display: flex;
     gap: 5px;
 }

 .sorting-container .btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 85px;
     border-radius: 2em;
     background-color: var(--bg0);
     padding: 0.7em;
     cursor: pointer;
     border: 1px solid var(--gray2)
 }