.mail-preview {
    display: grid;
    grid-auto-flow: column;
    /* justify-content: start;
    align-items: center; */

}


.mail-preview>*:not(:first-child) {
    flex: 1;
}

.mail-preview .btn-remove {}

.mail-preview .btn-remove:hover {
    background-color: var(--bg4);
}

.mail-preview .symbols {
    display: flex;
    justify-self: end;
    gap: 1em;
}