 /* mail index  */

 .mail-index {
     transition: grid-template-columns .1s;
 }

 .mail-index.menu-full .inner-container {
     display: grid;
     grid-template-columns: 200px 1fr;
 }

 .mail-index.inner-container {
     display: grid;
     grid-template-columns: 70px 1fr;
 }

 .mail-index:not(.menu-full) .mail-folders.container {
     padding: 3em 0;
 }

 .mails-container {
     border-radius: 2em;
     margin: 1em;
     background-color: white;
 }

 .mails-container .inner-container {
     align-items: center;
 }

 .mail-index.inner-container .mail-folders {
     padding: 3em 2em 0 0;
 }

 .btn-compose {
     position: absolute;
     top: 100px;
     /* left: 2px; */
     display: flex;
     align-items: center;
     margin: 1em .5em 0 0.5em;
     /* margin-left: 0.5em; */
     padding: 1em;
     border-radius: 0.5em;
     background-color: var(--bg02);
     gap: 10px;
     width: 180px;
 }

 .mail-index:not(.menu-full) .btn-compose {
     width: 55px;
 }

 .btn-compose:hover {
     box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);
     background-color: #c2e7ff;
 }

 .aside-bar {
     margin-top: 50px;
     margin-right: 1em;
 }

 .sorting-container {
     margin: 1em;
     display: flex;
     gap: 5px;
     transition: .100s;
     transform-origin: left;
 }

 .sorting-container .btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 85px;
     border-radius: 2em;
     background-color: var(--bg0);
     padding: 0.6em;
     cursor: pointer;
     border: 1px solid var(--gray2)
 }


 .sorting span {
     margin-inline-start: .5em;
     /* margin-block-start: .5em; */
     background-color: var(--bg0);
     color: black;
     padding: .5em;
     font-size: 2em;
     border-radius: 50px;
     cursor: pointer;
 }

 .mails-container .inner-container {
     margin-block-start: .5em;
 }

 .sorting span:hover {
     background-color: var(--bg5);
 }

 .sorting-container.close {
     scale: 0 1;
 }

 .btn-sort-toggle span {
     color: black;
 }

 .main-screen {
     position: fixed;
     inset: 0;
     background-color: rgba(0, 0, 0, 0.5);
     cursor: pointer;
     pointer-events: none;

     /* transition: opacity .6s; */
     /* width: 100%; */
     opacity: 0;
 }

 .main-screen.active {
     pointer-events: auto;
     opacity: 1;
     z-index: 1;
 }

 .btn-toggle-menu {
     display: none;
 }