 /* mail index  */
 .mail-index.inner-container {
     display: grid;
     grid-template-columns: auto 1fr;
 }

 .mails-container {
     border-radius: 2em;
     margin: 1em;
     background-color: white;
 }

 .mails-container .inner-container {
     align-items: center;
 }

 .mail-index.inner-container .mail-folders {
     padding: 3em 2em 0 0;
 }

 .btn-compose {
     margin-top: 1em;
     margin-left: 0.5em;
     padding: 1em;
     border-radius: 0.5em;
     background-color: var(--bg02);
     width: 145px;
 }

 .aside-bar {
     margin-top: 50px;
     margin-right: 1em;
 }

 .sorting-container {
     margin: 1em;
     display: flex;
     gap: 5px;
     transition: .100s;
     transform-origin: left;
 }

 .sorting-container .btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 85px;
     border-radius: 2em;
     background-color: var(--bg0);
     padding: 0.7em;
     cursor: pointer;
     border: 1px solid var(--gray2)
 }

 .sorting-container.close {
     scale: 0 1;
 }

 .btn-sort-toggle span {
     color: black;
 }

 .main-screen {
     position: fixed;
     inset: 0;
     background-color: rgba(0, 0, 0, 0.5);
     cursor: pointer;
     pointer-events: none;

     /* transition: opacity .6s; */
     /* width: 100%; */
     opacity: 0;
 }

 .main-screen.active {
     pointer-events: auto;
     opacity: 1;
     z-index: 1;
 }

 .btn-toggle-menu {
     display: none;
 }