.mail-preview.container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35px 180px 1fr 100px;
    justify-items: start;
    align-items: center;

}


.mail-preview>*:not(:first-child) {
    flex: 1;
}

.mail-preview .body {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-preview .btn-remove {}

.mail-preview .btn-remove:hover {
    background-color: var(--bg4);
}

.mail-preview .symbols {
    display: flex;
    justify-self: end;
    gap: 1em;
}

.preview-circle {
    display: none;
}

.time {
    grid-column: 4;
    justify-self: end;
    margin-inline-end: .72em;
}

.mail-item:hover .time {
    display: none;
}

.mail-item:hover .star {
    color: var(--gray4);

    &.starred {
        color: var(--color4)
    }
}

.symbols.container {
    display: none;
    /* grid-column: 5; */

}

.mail-item:hover .symbols.container {
    display: flex;
}

.mail-item .material-symbols-outlined {
    background-color: none;
    /* padding: 0.2em; */
    border-radius: 100%;
    transition: border-radius .3s;
}

.material-symbols-outlined:hover {
    outline: .2em var(--bg6) solid;
    background-color: var(--bg6);
    /* padding: .2em */
}