@media (max-width: 650px) {
    .mail-index.inner-container {
        grid-template-columns: 1fr;
    }

    .aside-bar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100dvh;
        min-width: 40dvw;
        transform: translateX(-100%);
        background-color: var(--bg5);
        transition: transform .3s;
        z-index: 99;
        margin-top: 0;
        padding-top: 3em;
    }

    .aside-bar.open {
        transform: translateX(0);
    }

    .btn-toggle-menu {
        display: block;
        margin-inline-start: 1em;
        cursor: pointer;
        color: var(--gray4);
        flex: 1;
        margin-inline-end: auto;
    }

    .btn-toggle-menu span {
        color: var(--gray4);
    }

    .mails-container {
        margin-inline: .5em;
    }

    .mail-filter.container {
        padding-inline: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }


    .mail-list.container {
        padding: 0;
    }

    .mail-preview.container {
        display: grid;
        grid-auto-flow: row;
        /* grid-template-rows: 35px 180px 1fr 100px; */
        grid-template-columns: 80px 1fr 90px 40px;
        justify-items: start;
        align-items: center;
        row-gap: .5em;

    }

    .mail-filter .search-bar {
        width: 50dvw;
    }

    .mail-filter .search-bar:focus-visible {
        width: 50dvw;
    }

    .mail-item:hover .time {
        display: block;
    }

    .mails-container .inner-container {
        margin-bottom: .5em;
    }


    .from {
        grid-row: 1;
        grid-column: 2;
    }

    .body {
        grid-row: 2;
        grid-column: 2;

    }

    .time {
        grid-row: 1;
        grid-column: 3/5;
        justify-self: end;
        margin-inline-end: .72em;
    }

    .star {
        grid-row: 2;
        grid-column: 4;
        margin-inline-end: .3em;
        justify-self: end;


    }

    .symbols {
        grid-row: 2;
        grid-column: 3;
        justify-self: end;
        padding-inline: 3px;
    }

    .preview-circle {
        display: block;
        grid-row: 1/3;
        padding: 1.5em;
        border-radius: 100px;
        width: 60px;
        height: 60px;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .labels-menu {
        display: none;
    }

    .labels-container {
        width: 100%;
        flex-direction: column;
        border-bottom: 1px solid var(--gray4);
        margin-block-end: 2em;
        padding: 0 0 3em 0;

        .label {
            padding: 1em;

        }
    }

    .symbols.container {
        display: flex;
    }
}