:root {
    --bg0: rgb(248 250 253);
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg02: #c2e7ff;
    --bg3: rgb(89, 134, 206);
    --bg4: rgb(233, 238, 246);
    --bg5: rgb(242, 246, 252);
    --bg6: #e6e9ef;



    --color1: #0c56d0;
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);
    --color4: #f7cb69;

    --circle1: RGB(66, 133, 244);
    --circle2: RGB(251, 188, 5);
    --circle3: RGB(234, 67, 53);
    --circle4: RGB(0, 136, 204);
    --circle5: RGB(102, 204, 153);
    --circle6: RGB(179, 229, 252);
    --circle7: RGB(200, 230, 201);

    --gray1: rgb(233 238 246);
    --gray2: rgb(170, 170, 170);
    --gray3: #888;
    --gray4: #333;
}