:root {
    --bg0: rgb(248 250 253);
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);
    --bg4: rgb(233, 238, 246);
    --bg5: rgb(242, 246, 252);

    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray1: rgb(233 238 246);
    --gray2: rgb(170, 170, 170);
    --gray3: #888;
    --gray4: #333;
}