.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    /* background: var(--bg1); */
}

.app-header nav a {
    margin: .5em;
}

.app-header a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}