.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    /* background: var(--bg1); */
}

.app-header nav a {
    margin: .5em;
}

.app-header a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}

.main-logo {
    width: 60px;
    /* z-index: 999999; */
    position: relative;
    z-index: 999;
}

.apps-menu span {
    font-size: 1.8em;
}

.apps-menu {
    position: relative;
    cursor: pointer;
}

.apps-menu-inner {
    display: none;
}

.apps-menu-inner.open {
    position: absolute;
    right: 30px;
    display: flex;
    gap: 1em;
    background-color: white;
    border: 5px var(--bg5) solid;
    border-radius: 30px;
    padding: 1.7em
}

.mail-logo,
.note-logo {
    width: 50px;
    height: 38px;
}